.counter_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 2rem 3rem;
  row-gap: 36px;
}

.counterBox {
  flex: 25% 1 1;
  display: grid;
  place-items: center;
}

.counterBox .count {
  display: flex;
  align-items: center;
  gap: 8px;
}

.counterBox .count .plusIcon {
  font-size: 2.625rem;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .counterBox {
    flex: 50% 1 1;
  }

  .counterBox .count {
    display: flex;
    align-items: start;
    gap: 8px;
  }
}