.divider {
  width: 2px;
  height: 200px;
  border: 1px dashed rgba(172, 189, 51, 0.4);
}


.cardSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.88rem;
  row-gap: 1.88rem;
  place-content: center;
}


@media screen and (max-width: 1000px) {
  .divider {
    display: none;
  }

  .cardSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cardSection {
    padding-inline: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}