/* header section CSS */
.header {
  width: 100%;
  height: 94px;
  line-height: 1.5;
}

.toolbar {
  height: 100%;
  justify-content: space-between;
}

.menuItem {
  padding-block: 3px;
  position: relative;
}

.menuItem:hover,
.active {
  color: var(--light-green);
}

.header .menuItem.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 2px;
  background-color: var(--light-green);
}

.is_sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff;
  transition: all 0.3s ease-in;
}
